
.usuario1 .usuario1__imagen img {
    width: 100%;
   
    border-radius: 90%;
}
.contenedor__derecho__img{
    margin-bottom: -10px;
}
.texto_chat{
    font-size: 70%;
    margin-bottom: 0rem;

}
.hora_chat{
    font-size: 70%;
    margin-bottom: 0rem;
}
.tiket_chat{
    width: 10px;
    height: 10px;
    background-color: #25a7e6;
    border-radius: 50%;
    margin-top: 3px;
}

.nombre_chat{
    margin-left: 16px;
    font-size: 60%;
}