//para darle un color de fondo al body
$colorFondo : #fff;

//variable para el fondo de cars
$colorCard : #4d4d4d;

$titulos : 22px --xx-large;
$colorTitulos: #fff;


$colordelnav: rgb(97, 122, 97);


$colorPadreFlex: rgb(63, 94, 94)